@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 350;
    color: rgb(23, 16, 44);
    background-color: rgb(221, 235, 30);
}
h1, h2, h3 {
    font-family:oswald, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(23, 16, 44);
}
h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    margin-left: 100px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-left: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid rgb(23, 16, 44);
}
.active{
    border-bottom: 1px solid rgb(23, 16, 44);
}
#hero-image-outer{
    height: 425px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#cover-text, #cover-text h2{
    color: rgb(221, 235, 30);
}

#cover-text #cover-text-left{
    float: right;
    padding-right: 20px;
}
#hero-image{
    height: 425px;
    width: 100%;
    background: url(../images/hero-image.jpg) center center;
}
#cover-text{
    font-size: 110%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;

    width: 650px;
    height: 120px;

    padding: 15px;

    background-color: rgba(23, 16, 44, .5);

    bottom: 20px;
    right: 20px;

    position: absolute;
}
.sub-heading {
    font-family: oswald, sans-serif;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: 400;
}
img{
    width: 50%;
    margin-left: 3%;
    float: right;
}
.body-text{
    margin-top: 5%;
    width: 95%;
    padding-left: 2.5%;
}
.body-text p{
    text-align: justify;
    line-height: 30px;
}
.body-text li{
    text-align: justify;
    line-height: 30px;
    list-style-type: none;
}
footer{
    height: 100px;
    background-color: rgb(23, 16, 44);
    margin-top: 5%;
}
.social-networks{
    text-align: center;
}
.social-networks > li{
    display: inline;
}
.social-networks i{
    font-size: 180%;
    margin: 1%;
    padding: 2%;
    color: rgb(221, 235, 30);
}