@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: rgb(23, 16, 44);
    background-color: yellow;
}
h1, h2 {
    font-family:oswald, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(23, 16, 44);
}
#logo{
    float: left;
    font-size: 300%;
    margin-left: 30px;
}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    margin-left: 100px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid rgb(23, 16, 44);
}
.active{
    border-bottom: 1px solid rgb(23, 16, 44);
}
#hero-image{
    height: 500px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}